# Application
NODE_ENV=development
PORT=3000
IS_DOCKER=false

# Database Selector (postgres, mysql, sqlite)
ACTIVE_DB=postgres

# Database PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=multidb

# Database MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USERNAME=mysql
MYSQL_PASSWORD=mysql
MYSQL_DATABASE=multidb
MYSQL_ROOT_PASSWORD=root

# Database SQLite
SQLITE_PATH=:memory:

# Common Database Configuration
DB_SYNCHRONIZE=true
DB_LOGGING=true

# Adminer
ADMINER_PORT=8080 